<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .box {
      height: 250px;
      width: 250px;
      color: black;
      border: 3px solid blue;
      margin: 15px;
      padding: 8px;
    }
  </style>
  <body>
    <div class="box">
      <p><%= data.universityName %></p>
      <p><%= data.affiliateBy %></p>
      <p><%= data.location %></p>
      <p><%= data.numberOfCourses %></p>
      <p><%= data.ImagesUrl %></p>
    </div>
  </body>
</html>
